<h1>注文</h1>

<%= form_with(model: @order, local: true, url: confirm_orders_path, method: :get) do |form| %>
    <% if @order.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@order.errors.count, "error") %> prohibited this book from being saved:</h2>

            <ul>
                <% @order.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <h4>書籍名 : 個数</h4>
    <% @line_items.each do |line_item| %>
        <% if line_item.book.present? %>
            <div>
                <%= line_item.book.book_name %> :
                <%= form.number_field "line_item_quantity_#{line_item.id}", value: line_item.quantity %>
            </div>
        <% end %>
    <% end %>
    
    <h4>送り先</h4>
    <%= form.text_field :delivery_address %>

    <div class="actions">
        <%= form.submit '注文確認' %>
    </div>
    
<% end %>

    