<h1>注文</h1>

<%= form_with(model: @order, local: true, url: confirm_orders_path, method: :get) do |form| %>
    <% if @order.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@order.errors.count, "error") %> prohibited this book from being saved:</h2>

            <ul>
                <% @order.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <h4>書籍名</h4>
    <%= @book.book_name %>
    
    <h4>個数</h4>
    <%= form.number_field :quantity %>

    <h4>単価</h4>
    <%= @book.price %>
    
    <h4>送り先</h4>
    <%= form.text_field :delivery_address %>

    <%= form.hidden_field :book_id, value: @book.id %>

    <div class="actions">
        <%= form.submit '注文確認' %>
    </div>
    
<% end %>

    