<h1>書籍編集</h1>

<%= form_with(model: @book, local: true) do |f| %>

    <div>
        <%= f.label :book_name, "書籍名" %>
        <%= f.text_field :book_name %>
    </div>

    <div>
        <%= f.label :author_name, "著者名" %>
        <%= f.text_field :author_name %>
    </div>

    <div>
        <%= f.label :issue_date, "発行日" %>
        <%= f.date_field :issue_date %>
    </div>

    <div>
        <%= f.label :product_display, "商品表示" %>
        <%= f.check_box :product_display %>
    </div>

    <div>
        <%= f.label :price, "価格" %>
        <%= f.number_field :price %>
    </div>

    <div>
        <%= f.label :status, "注文ステータス" %>
        <%= f.number_field :status %>
    </div>

    <div>
        <%= f.label :photo, "画像" %>
        <%= f.file_field :photo %>
    </div>

    <div>
        <%= f.label :status, "販売状況" %>
        <% Book.statuses.keys.each do |status| %>
            <%= f.radio_button :status, status %>
            <%= f.label :status, I18n.t("enums.book.status.#{status}") %>
        <% end %>
    </div>

    <div>
        <%= f.submit "更新" %>
    </div>

<% end %>