<h1>書籍詳細</h1>

<div>
    <p>書籍名: <%= @book.book_name %></p>
    <p>著者名: <%= @book.author_name %></p>
    <p>発行日: <%= @book.issue_date %></p>
    <p>商品表示: <%= @book.product_display %></p>
    <p>価格: <%= @book.price %>円</p>
    <p>注文ステータス: <%= @book.status %></p>
    <%if @book.photo.attached? %>
        <%= image_tag @book.thumbnail %>
    <% end %>
</div>


<% if admin_signed_in? %>
    <%= link_to "編集", edit_book_path(@book) %>
    <br>
    <%= link_to "削除", destroy_book_path(@book), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' } %>
<% elsif user_signed_in? %>
    <%= link_to "買い物かごに入れる", line_items_path(book_id: @book.id), data: { turbo_method: :post } %>
<% end %>
